.idea
venv
__pycache__
assets/__pycache__
day_1/__pycache__
day_2/__pycache__
notebooks/.ipynb_checkpoints
notebooks/__pycache__
notebooks/linear_regression/.ipynb_checkpoints
notebooks/matplotlib/.ipynb_checkpoints
notebooks/numpy-tutorial/.ipynb_checkpoints
notebooks/pandas/.ipynb_checkpoints
notebooks/decision-trees/.ipynb_checkpoints
notebooks/linear-regression/.ipynb_checkpoints
notebooks/multi-linear-regression/.ipynb_checkpoints
notebooks/logistic-regression/.ipynb_checkpoints
notebooks/vectorization/.ipynb_checkpoints
notebooks/kaggle-titanic/.ipynb_checkpoints
notebooks/logisic-regression-as-a-neural-network/.ipynb_checkpoints
notebooks/planar-classification-with-one-hidden-layer/.ipynb_checkpoints
notebooks/building-your-deep-neural-network-step-by-step/.ipynb_checkpoints
notebooks/deep-neural-network-application-image-classification/.ipynb_checkpoints
